.image {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -3;
}

.imageText {
  font-family: "Edo SZ";
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: black;
  z-index: 1;
}

.viewport {
  position: relative;
  width: 640px;
  overflow: hidden;
  height: 360px;
  border: 1px solid rgb(101, 101, 101);
}

.outer {
  width: 100%;
  height: 100%;
  position: relative;
}

.svg {
  width: 100%;
  height: 140px; /* 110px when not line 2*/
}

@media only screen and (max-width: 700px) {
  .viewport {
    width: 320px;
    height: 180px;
  }
}
.shadows {
  width: 100%;
  height: 100%;
}
.brightness {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -3;
}
.contrast {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -3;
}
